.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 62.5%;
  background-color: #00005c;
}

.heading {
  font-family: 'Metal Mania', cursive;
  font-size: 5rem;
  margin: 1.5rem;
  color: #c060a1;
  text-transform: uppercase;
}




